@import url(../css/clash-display.css);

:root {
    --c-lili-escuro:#4E3559;
    --c-lili-1: #a456a6;
    --c-lili-2: #BE80BF;
    --c-lili-3: #d694f2;
    --c-lili-4: #BF84D9;
    --c-lili-bg:#5b375c6c;
    --c-dark: #212529;
    --c-brand:#4e57d4;
    --c-brand-light:#6970dd;
    --c-brand-rgb:78,87,212;
    --c-bady:#727272;
    --font-base:"ClashDisplay", sans-serif;
    --box-shadow: 0px 10px 25px rgba(78, 53, 89, 0.1);
    --transition: all 0.5s ease;
}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-bady);
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 600;
    color: var(--c-lili-escuro);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--c-lili-1);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 144px;
    padding-bottom: 144px;
}

.theam-shadow{
    box-shadow:var(--box-shadow);
}

/*ZOOM IMAGE - (GALERIA)*/
.image-zoom{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
}

/*  NAVBAR  */
.navbar{
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-lili-1);
}

.navbar .nav-link:hover{
    color: var(--c-lili-escuro);
}

.navbar-nav .nav-link.active{
    color: var(--c-lili-escuro);
}

/*BTN*/
.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 24px;
}

.btn-lili{/*btn-brand*/
    background-color: var(--c-lili-escuro);
    color: white;
}

.btn-lili:hover{
    background-color: var(--c-lili-1);
    color: white;
}

/*HERO*/
#hero{
    background: linear-gradient(#4e35597c, #4e35595d), url("../images/hero-1.jpg");
    background-position: center;
    background-size: cover;
}

/*SECTION TITLE*/
.section-title{
    margin-bottom: 60px;
}
.section-title .line{
    width: 90px;
    height:4px;
    background-color: var(--c-lili-1);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/*TEXT AJUST*/
.text-justify{
    text-align: justify;
}

/*ICON BOOTSTRAP*/
.iconbox{
    width:64px;
    height: 64px;
    display:inline-flex;
    align-items: center; /*orizontal*/
    justify-content: center; /*vertical*/
    background: rgba(191, 132, 217, 0.2);
    color: var(--c-lili-escuro);
    font-size: 38px;
    flex: none;
}
/*ICONES INTERNOS*/
.iconinterno {
    background-size: contain;
    background-repeat: no-repeat;
}

/*SERVICOS*/
/*animação*/
.servicos{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.servicos:hover{
    cursor: pointer;
}

.servicos::after{
    content: "";
    width: 40px;
    height: 40px;
    background: var(--c-lili-bg);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.servicos:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-lili-bg);
    z-index: -1;

}

.servicos:hover h5,
.servicos:hover p{
    color: white;
}

.servicos:hover .iconbox{
    background: white;

}

/*GALERIA*/

.galeria-item .iconbox{
    background-color: var(--c-lili-3);
    position: absolute;
    top: 40%;
    left: 50%;  
    transform: translate(-50%, -50%);
    opacity: 0;
}

.galeria-item:hover .iconbox{
    opacity: 1;
    top: 50%;
}

/*Relatos*/
/*REVIEW*/
.review-head{
    position: relative;
}

.review-head::after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14;
    background-color: var(--c-lili-4);
    transform: rotate(45deg);
}

.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-lili-escuro);
}

/*contato*/

.h5contato{
    font-weight: 400;
}

/*FOOTER*/
footer{
    margin-top: 40px;
}

.footer-top{
    padding-bottom: 25px;
    border-bottom: 1px solid var(--c-lili-4);
}

.footer-bottom{
    padding: 25px;
    padding-bottom: 25px;
}

.bg-footer{
    background-color: #2e1e35;
}

footer li,
footer p,
footer a{
    color: white;
}

footer ul{
    padding-left: 0;
}

footer li{
    list-style: none;
}

footer .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-lili-4);
    margin-top: 12px;
    margin-bottom: 12px;
}

.sociais-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-lili-bg);
    border-radius: 100px;
}